@font-face {
  font-family: 'DM Sans';
  src: url(/medio-ambiente-fcc/assets/fonts/DMSans-Regular.3e7f038b.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url(/medio-ambiente-fcc/assets/fonts/DMSans-Medium.fbbc5a51.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url(/medio-ambiente-fcc/assets/fonts/DMSans-Bold.07185303.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans';
  box-sizing: border-box;
}

:root {
  --primary-color-1: #c6f6d5;
  --primary-color-2: #9ae6b4;
  --primary-color-3: #68d391;
  --primary-color-4: #48bb78;
  --primary-color-5: #38a169;
  --primary-color-6: #2f855a;
  --primary-color-7: #276749;
  --gray-color-1: #f2f4f5;
  --gray-color-2: #edf2f7;
  --gray-color-3: #e2e8f0;
  --gray-color-4: #cbd5e0;
  --gray-color-5: #a0aec0;
  --gray-color-6: #718096;
  --gray-color-7: #2d3748;
  --gray-color-8: #1a202c;
  --danger-color-1: #f42c74;
  --white-color: #ffffff;
  --primary-gradient: linear-gradient(
    180deg,
    var(--primary-color-4) 0%,
    var(--primary-color-5) 100%
  );
  --navbar-height: 60px;
  --shadow-color: 26, 32, 44;
  --height-hero: 380px;
  --hero-gradient-color-1: 26, 32, 44;
  --hero-gradient-color-2: 26, 32, 44;
  --max-width-view: 960px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

/* Begin Navbar */

.navbar {
  width: 100%;
  height: 60px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid var(--gray-color-3);
}

.brand {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  color: var(--gray-color-8);
}

.brand h4 {
  align-self: center;
  font-weight: 600;
}

/* Begin Dropdown */

.button-dropdown {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--gray-color-2);
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
}

.dropdown {
  min-width: 300px;
  position: absolute;
  top: calc(var(--navbar-height) - 2px);
  right: 1rem;
  padding: 1rem;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color-2);
  border-radius: 0.5rem;
  z-index: 1000;
}

.dropdown-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.dropdown-item:hover {
  background-color: var(--gray-color-1);
}

.dropdown-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--gray-color-2);
}

.dropdown-item span {
  align-self: center;
  color: var(--gray-color-8);
  font-weight: 500;
}

/* End Dropdown */

.links {
  display: none;
}

.links a {
  color: var(--gray-color-8);
  align-self: center;
}

.links a.active {
  border-bottom: 3px solid var(--primary-color-4);
}

/* Media Queries of Navbar */

@media screen and (min-width: 1024px) {
  .links {
    display: grid;
    grid-template-columns: repeat(6, auto);
    column-gap: 1.5rem;
  }
  .button-dropdown {
    display: none;
  }
  .navbar {
    padding: 0 4rem;
  }
}

/* End Navbar */

/* Begin Footer */
.footer {
  width: 100%;
  border-top: 1px solid var(--gray-color-3);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--gray-color-6);
  text-align: center;
  padding: 1em 0;
}
/* End Footer */
