body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: var(--gray-color-8);
}

/* Begin Main Content */
main {
  background-color: var(--gray-color-1);
}

.event-container {
  padding: 4rem 0;
  width: 90%;
  max-width: var(--max-width-view);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 288px);
  gap: 3rem;
  justify-content: center;
}

.event-card-item {
  border-radius: 24px;
  background: var(--white-color);
  border: 1px solid var(--gray-color-3);
  box-shadow: 0 4px 21px rgba(var(--shadow-color), 25%);
}

.event-card-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
}

.event-card-item a {
  color: var(--gray-color-8);
}

.event-card-info h4 {
  margin-bottom: 1rem;
  color: var(--primary-color-7);
}

.event-card-info {
  padding: 1rem;
  font-size: 0.875rem;
}
/* End Main Content */

@media screen and (min-width: 768px) {
  .event-container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .event-container {
    max-width: 100%;
  }
}
